.BackgroundBox {
  background-size: cover !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 20px; }

.ContentTextBox {
  position: absolute;
  max-width: 300px;
  left: 5%;
  top: 20%;
  z-index: 100; }
  @media screen and (max-width: 480px) {
    .ContentTextBox {
      text-align: center;
      max-width: 100%;
      left: 0;
      padding: 0 20px; } }
  .ContentTextBox-text {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px; }

.ButtonBox {
  background: #00a7f5;
  color: #fff;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  padding: 20px 45px; }
  .ButtonBox:hover, .ButtonBox:focus {
    background: #2980b9; }
